body{
    
    overflow:hidden;
    height: 100vh;
    width: 100vw;
    
}
    
img{
    
    position: absolute;
    top: 46vh;
    left: 50vw;
    width: 100vw;
    transform: translate(-50%, -50%);
    
}

#next{

    color: lightgrey;
    position: absolute;
    top: 94vh;
    left: 2vw;
    z-index: 100;
    font-family: times, sans-serif;


}