.sub{
    
    width: 500px;
    position: relative;
    
}

.hed{
    
    position: relative;
    font-family: helvetica;
    letter-spacing: 1.2px;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
    padding-bottom: 3px;
    /*border-bottom: solid 1px;*/
    z-index: 1000;
    padding-top: 10px;
    margin-bottom: 10px;
}

iframe{
    
    height: 300px;
    border: none;
    
}